syntax: glob
# Global excludes across all subdirectories
*.o
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.dylib
*.dll
*.a
*.mo
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov.info
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc

# Local excludes in root directory
GNUmakefile
pgsql.sln
pgsql.sln.cache
config.log
config.status
nlopt*
src/backend/catalog/postgres.bki
src/backend/catalog/postgres.description
src/backend/parser/gram.c
src/backend/parser/gram.h
src/backend/replication/repl_gram.c
src/backend/replication/repl_scanner.c
src/backend/utils/fmgroids.h
src/backend/utils/fmgrtab.c
src/interfaces/ecpg/preproc/preproc.c
src/interfaces/ecpg/preproc/preproc.h
src/pl/plpgsql/src/pl_gram.c
src/pl/plpgsql/src/pl_gram.h
src/include/pg_config.h
